.App {
  text-align: center;

  height: 100vh;
  background-image: radial-gradient(
    farthest-side at 10% 0px,
    rgb(51, 56, 103) 20%,
    rgb(23, 25, 59)
  );
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}
